*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    display: flex;
    width: 100%;
    /* height: calc(100vh - 10vh); */
    flex-wrap: wrap;
}
/* aside */
.aside{
    width: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    overflow: hidden;
}
.icon-aside{  
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cont-icon img{
    width: 36px;  
    margin-top: 10px;
    margin-bottom: 5px;
}
.logo-small{
    width: 36px;
    margin-top: 10px;
}
.logo-big{
    display: none;
    width: 90px;
    height: 80px;
    
}
.cont-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-icon a{
    display: none;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
.list{
    overflow-y: auto;
    display: none;
}
.list h4{
    color: white;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
}
.plus{
    width: 30px;
    height: 30px;
    background-color: gray;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.crea-playlist{
    display: flex;
    align-items: center;
}
.crea-playlist span{
    color: white;
    
    display: inline-block;
    padding-left: 5px;
}

.list ul li{
    
    padding: 8px 0;
    font-size: 1em;
    list-style-type: none;
    
}
.list ul li a{
    text-decoration: none;
    color: rgba(125,127,132,255);
}
.icon-aside-bot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    justify-content: flex-end;
    
}
.circle{
    height: 20px;
    width: 20px;
    font-size: 0.5em;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.profilo img{
    width: 36px;
    height: 36px;
    background-color: gray;
    border-radius: 50%;
}
.cont-profilo{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    overflow-y: hidden;
}
.cont-profilo a{
    text-decoration: none;
    color: rgba(125,127,132,255);
    font-size: 13px;
    padding: 0 5px;
}
.cont-profilo a,
.cont-profilo h4{
    display: none;
}

/* ASIDE */
/* MAIN + HEADER*/
.cont-centrale{
    height: calc(100vh - 70px);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column    
}
/* HEADER */
header{
 height: 70px;
 width: 80%;
 position: fixed;
 z-index: 1;
 background-color: rgba(8,11,18,255);
 display: flex;
 justify-content: flex-end;
 align-items: center;
 top: 0;
}
.button{
    padding: 8px 30px;
    border: 1px solid white;
    border-radius: 18px;
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
/* HEADER */



/* MAIN */
main{
    height: calc(100% - 100px);
    background-color: rgba(20,25,34,255);
    overflow-y: auto;
    margin-top: 70px;
    overflow-y: auto;
}
.lista-playlist{
    width: 100%;
}
.lista-playlist ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}
.playlist li{
    list-style-type: none;
    margin-top: 10px;
}
.playlist li a{
    text-decoration: none;
    padding: 0px 10px;
    font-size: 0.6em;
    text-transform: uppercase;
    color: rgba(125,127,132,255);
    font-weight: bold;
}
.row h2{
    color: white;
    padding-top: 15px;
    margin-left: 25px;
    font-size: 0.8;
}
.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: calc(50% - 40px);
    margin: 10px 15px;
    text-align: center;
}
.effetto{
    position: relative;
}
.cover{
    
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    left: 0;
    bottom: 4px;
    z-index: 1;
    display: none;
    
}
.effetto-2{
    position: relative;
    
}
.cover-2{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    left: 0;
    bottom: 4px;
    z-index: 1;
    display: none;
    border-radius: 50%;
}
.cerchio{
    width: 60px;
    height: 60px;
    border: 4px solid white;
    border-radius: 50%;
    line-height:55px;
    font-size: 2em;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.card img{
    width: 100%;
}
.card h5{
    color: white;
    padding: 8px;
}
.card span{
    color: rgba(125,127,132,255);
    font-size: 0.7em;  
}

.row .subtitle{
    color: rgba(125,127,132,255);
    font-size: 0.7em;  
    margin-left: 25px;
    display: inline-block;
    padding-top: 10px;
}

.tondo img{
    border-radius: 50%;
}
/* MAIN */




/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: rgba(40,40,40,255);
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.menu-left{
    display: flex;
    height: 100%;
    width: 30%;
}
.sinister{
    display: flex;
    align-items: center;
}
.sinister img{
    height: 50%;
    margin-left: 5px;
}
.nome-brano{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}
.nome-brano div{
    display: flex;
    flex-direction: column;
   
}
.nome-brano div span{
    align-self: baseline;
}
.nome-brano span{
    font-size: 0.6em;
    color: rgba(125,127,132,255);
}
.nome-brano h5{
    font-size: 0.8em;
    color: white;
}
.icon-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-center{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-footer i{
    padding: 2px 5px;
    font-size: 0.7em;
    color: rgba(125,127,132,255);
}
.icon-play{
    height: 50%;
    margin-top: 5px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.icon-play i{
    margin: 0 5px;
    font-size: 0.9em;
}

.play{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    margin: 0 10px;
}
.volume{
    height: 50%;
    margin-top: 10px;
}
.volume div span{
    font-size: 0.6em;
    color: white;
}
.vol{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.range{
    width: 30%;
    height: 5px;
    margin: 0 5px;
}
input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgba(90,90,90,255);
    border-radius: 3px;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: white;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 5px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: rgba(193,193,193,255);
    box-shadow: -200px 0 0 200px rgba(193,193,193,255);
  }
.menu-right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.vol-2{
    width: 40%;
    height: 5px;
    margin-right: 5px;
}
.menu-right i{
    padding: 0 5px;
    color: white;
    font-size: 0.6em;
}
/* FOOTER */

/* MEDIA QUERIES */

@media screen and (min-width: 767px){
.aside{
    padding-left: 10px;
}
 .logo-big{
        display:inline-block;
        width: 90%; 
        
    }
.logo-small{
        display: none;
    }
.icon-aside{
        align-items: flex-start;
       
    }
.cont-icon a{
        display: inline-block;
    }
.list{
        display: block;
    }
.cont-profilo a,
.cont-profilo h4{
    display: flex;
    font-size: 1.2em;
    justify-content: flex-start;
}
.icon-aside-bot{
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
   
}
.cont-profilo{
    width: 90%;
    justify-content: flex-start;
}
.bordo{
    padding-bottom: 20px;
    border-bottom: 3px solid  rgba(90,90,90,255);}
.playlist li{
    font-size: 1.8em;
}
.row h2{
    font-size: 1.8em;
}
.row h5{
    font-size: 1.2em;
}
.row span{
    font-size: 1.2em;
}
.row .subtitle{
    font-size: 1.4em;
}
.button{
    font-size: 1.3em;
}
.sinister img{
    height: 70%;
}
.nome-brano{
    font-size: 1.6em;
    
}
.icon-footer i{
    font-size: 1.3em;
    padding-bottom: 5px;
}
.nome-brano div{
    flex-direction: row;

}
.nome-brano div span{
    padding-right: 5px;
}
.icon-play i{
    font-size: 1.5em;
    
}

.margin{
    padding: 10px;
}
.volume{
    font-size: 1.6em;
}
.range{
    width: 200px;
}
.menu-right{
    font-size: 1.8em;
} 
.vol2{
    width: 80%;
} 
}
@media screen and (min-width: 1024px){
    .aside{
        padding-left: 10px;
    }
     .logo-big{
            display:inline-block;
            width: 70%; 
            
        }
    .logo-small{
            display: none;
        }
    .icon-aside{
            align-items: flex-start;
           
        }
    .cont-icon a{
            display: inline-block;
        }
    .list{
            display: block;
        }
    .cont-profilo a,
    .cont-profilo h4{
        display: flex;
        font-size: 1.2em;
        justify-content: flex-start;
    }
    .icon-aside-bot{
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
       
    }
    .cont-profilo{
        width: 90%;
        justify-content: flex-start;
    }
    .bordo{
        padding-bottom: 20px;
        border-bottom: 3px solid  rgba(90,90,90,255);}
    .playlist li{
        font-size: 1.8em;
    }
    .row h2{
        font-size: 1.8em;
    }
    .row h5{
        font-size: 1.2em;
    }
    .row span{
        font-size: 1.2em;
    }
    .row .subtitle{
        font-size: 1.4em;
    }
    .cards{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card{
        width: calc((100%/4) - 40px);
        margin: 10px 15px;
        text-align: center;
    }
    .button{
        font-size: 1.3em;
    }
    .sinister img{
        height: 80%;
    }
    .nome-brano{
        font-size: 1.9em;
        
    }
    .icon-footer{
        flex-direction: row;
        align-items: center;
        padding: 0 15px;
    }
    .nome-brano span{
        flex-direction: row;
    }
    .icon-footer i{
        font-size: 1.3em;
        padding: 0 10px;
        
    }
    .nome-brano div{
        flex-direction: row;
    
    }
    .nome-brano div span{
        padding-right: 5px;
    }
    .icon-play i{
        font-size: 1.8em;
        
    }

    .margin{
        padding: 0 30px;
    }
    .volume{
        font-size: 1.6em;
    }
    .range{
        width: 300px;
    }
    .range:hover{
        cursor: pointer;
    }
    input[type='range']::-webkit-slider-thumb {
        width: 5px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: rgba(193,193,193,255);
        box-shadow: -300px 0 0 300px rgba(193,193,193,255);
      }
    .menu-right i{
        font-size: 0.9em;
    } 
    .vol2{
        width: 80%;
    } 
    .vol-2:hover{
        cursor: pointer;
    }
    .list a:hover{
        color: white;
    }
    .card:hover .cover{
        display: flex;
    }
    .card:hover .cover-2{
        display: flex;
    }
    .playlist li a:hover{
        color: white;
    }
    .button:hover{
        transform: scale(110%);
    }
    .icon-play i:hover{
        transform: scale(120%);
        cursor: pointer;
    }
    .fa-bars:hover{
        transform: scale(120%);
        cursor: pointer;
    }
    .fa-desktop:hover{
        transform: scale(120%);
        cursor: pointer;
    }
    }
    @media screen and (min-width: 1800px){
        .aside{
            padding-left: 10px;
            width: 15%;
        }
        .header{
            width: 85%;
        }
        .cont-centrale{
            width: 85%;
        }
         .logo-big{
                display:inline-block;
                width: 70%; 
                
            }
        .logo-small{
                display: none;
            }
        .icon-aside{
                align-items: flex-start;
            }
        .cont-icon a{
                display: inline-block;
                font-size: 1.5em;
                margin-left: 10px;
                margin-top: 5px;
            }
        .cont-icon img{
            transform: scale(130%);
        }    
        .list{
                display: block;
                font-size: 1.2em;
            }
        .list h4{
            font-size: 1.8em;
        }

        .cont-profilo a,
        .cont-profilo h4{
            display: flex;
            font-size: 1.8em;
            justify-content: flex-start;
        }
        .icon-aside-bot{
            align-items: flex-start;
            justify-content: flex-end;
            width: 100%;
           
        }
        .cont-profilo{
            width: 90%;
            justify-content: flex-start;
        }
        .bordo{
            padding-bottom: 20px;
            border-bottom: 3px solid  rgba(90,90,90,255);}
        .playlist li a{
            font-size: 1em;
            padding: 0px 10px;
        }
        .playlist li{
            margin: 30px 0;
        }
        .row h2{
            font-size: 2,5em;
        }
        .row h5{
            font-size: 1.2em;
        }
        .row span{
            font-size: 1.2em;
        }
        .row .subtitle{
            font-size: 1.8em;
        }
        .cards{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .card{
            width: calc((100%/6) - 40px);
            margin: 10px 15px;
            text-align: center;
        }
        .button{
            font-size: 1.3em;
        }
        .sinister img{
            height: 80%;
        }
        .nome-brano{
            font-size: 1.9em;
            
        }
        .icon-footer{
            flex-direction: row;
            align-items: center;
            padding: 0 15px;
        }
        .nome-brano span{
            flex-direction: row;
        }
        .icon-footer i{
            font-size: 1.3em;
            padding: 0 10px;
            
        }
        .nome-brano div{
            flex-direction: row;
        
        }
        .nome-brano div span{
            padding-right: 5px;
        }
        .icon-play i{
            font-size: 2.3em;
            
        }
    
        .margin{
            padding: 0 30px;
        }
        .volume{
            font-size: 1.6em;
        }
        .range{
            width: 500px;
        }
        .range:hover{
            cursor: pointer;
        }
        input[type='range']::-webkit-slider-thumb {
            width: 5px;
            -webkit-appearance: none;
            height: 10px;
            cursor: ew-resize;
            background: rgba(193,193,193,255);
            box-shadow: -500px 0 0 500px rgba(193,193,193,255);
          }
        .menu-right i{
            font-size: 1em;
        } 
        .vol2{
            width: 80%;
        } 
        .vol-2:hover{
            cursor: pointer;
        }
        .list a:hover{
            color: white;
        }
        .card:hover .cover{
            display: flex;
        }
        .card:hover .cover-2{
            display: flex;
        }
        .playlist li a:hover{
            color: white;
        }
        .button:hover{
            transform: scale(110%);
        }
        .icon-play i:hover{
            transform: scale(120%);
            cursor: pointer;
        }
        .fa-bars:hover{
            transform: scale(120%);
            cursor: pointer;
        }
        .fa-desktop:hover{
            transform: scale(120%);
            cursor: pointer;
        }
        }